# Django
*.pyc
__pycache__/
db.sqlite3
media/
.env
*.log
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
.venv/

# Scripts temporales
crear_*.py
actualizar_*.py
agregar_*.py